<div class="container">
  <h2>Associados</h2>
  <% if current_user && current_user.pode_editar_associado? %>
    <%= link_to icon('lock', 'Gerenciar'), admin_associados_path, class: "btn btn-info" %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Associado desde</th>
      </tr>
    </thead>
    <tbody>
      <% @associados.each do |associado| %>
        <tr>
          <td><%= associado.user.nome %></td>
          <td><%=l associado.data_cadastro, format: :default if associado.data_cadastro.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>