<div class="container">
  <h2>Notícias</h2>
  <div class="noticias-index">
    <%= render 'noticias', noticias: @noticias %>
  </div>
  <% if current_user && current_user.pode_postar_noticia? %>
    <%= link_to glyphicon('plus') + " Nova notícia", new_noticia_path, class: "btn btn-success" %>
  <% end %>
</div>
