<% eventos.each do |evento| %>
  <div class="evento">
    <h3 class="titulo"><%= evento.nome %></h3>
    <p class="data">
      Data: <%=l evento.data_inicio, format: :post %>.
    </p>
    <p class="local">
      Local: <%= evento.local%>.
    </p>
    <p class="mais">
      <%= link_to reverse_icon('Detalhes', 'arrow-right'), evento_path(evento), class: 'btn btn-primary' %>
    </p>
  </div>
<% end %>
