<div class="container">
  <h2>Eventos</h2>
  <div class="Eventos-index">
    <%= render 'eventos', eventos: @eventos %>
  </div>
  <% if current_usuario && current_usuario.pode_postar_evento? %>
    <%= link_to glyphicon('plus') + " Novo evento", new_evento_path, class: "btn btn-success" %>
  <% end %>
</div>
