<div class="container">
  <h3><%= @evento.titulo %></h3>
  <p>
    <%= @evento.texto %>
  </p>
  <% if current_usuario && current_usuario.pode_postar_evento? %>
    <%= link_to glyphicon('pencil') + " Editar", edit_evento_path(@evento), class: "btn btn-info" %>
  <% end %>
  <%= link_to glyphicon('arrow-left') + " Voltar", eventos_path, class: "btn btn-warning" %>
</div>
